<html>
<head>
  <title>Dice Roll</title>
</head>
<body>
<div> <a href="/">Home</a></div>
 <div><a href = "/dice/2/6">Roll 2D6 </a></div>
  <div><a href = "/dice/2/10">Roll 2D10 </a></div>
  <div><a href = "/dice/5/4">Roll 2D4 </a></div>
</div>
<%= yield %>
</body>
</html>
